<div><%= req.lang("subscription.hi") %> <%= email %></div>
<p>

    <%= req.lang("subscription.subscription_welcome") %>

    <br/><br/>

    <%= req.lang("subscription.subscription_abstract") %>
</p>


<style>

    * {
        direction: rtl;
    }

</style>
