
.main--sidebar{
     background-color: #141925;
     color: #000;
     width: 250px;
     height: 100vh;
     overflow: auto;
     position: fixed;
     left: 0;
     top: 0;
     z-index: 92;
     font-family: $mainFont;
     box-shadow: 1px 1px 3px rgba(88,88,88,.1);
     @include prefixer(transition, all .25s ease-in-out, webkit moz o);
     .menu-list {
         a {
             border-radius: 0;
             color: #fff;
             display: block;
             padding: 8px 15px;
             font-weight: 400;
             font-family: $mainFont;
             min-height: 48px;
         }
     }
     .menu--scroll{
         height:calc(100vh - 90px);
         overflow-x: hidden !important;
     }

     .wrap--upper--nav{
        padding: 10px 10px;
        display: flex;
        align-items: center;
        height: 70px;
        // justify-content: space-between;
        .icon{
            font-size: 26px;
            color: #ddd;
            min-width: 50px;
            width: 50px;
            cursor: pointer;
            display: inline-block;
            height: 50px;
            line-height: 50px;
            text-align: center;
            margin-top: -2px;
            @include prefixer(transition, all .25s ease-in-out, webkit moz o);
            &:hover{
                opacity: .8;
            }
            @media #{$mwlg}{
                display: none;
            }
        }
        .head-logo{
            font-size: 16px;
            color: #fff;
            margin-left: 20px;
        }
     }

     .navbar-item {
         margin: 5px 0;
         font-size: 15px;
         padding: 8px 10px;
         white-space: pre;
         color: #596376;
         font-weight: 300;
         position: relative;
         font-family: $mainFont;
        //  display: block;
         overflow: hidden;
         line-height: 2rem;
         padding: 10px 30px 10px 14px;
         margin: 5px 0;
         background-color: initial;
         -webkit-transition: all .3s linear;
         transition: all .3s linear;
         i{
             margin-right: 10px;
             font-size: 16px;
             color: #596376;
             width: 30px;
             display: inline-block;
             text-align: center;
         }
         .icon--dropdown--item{
             i{
                 width: auto;

             }
             margin-left: auto;
         }
         span{
             color: #596376;
         }
         &:before {
             content: "";
             display: block;
             z-index: -1;
             position: absolute;
             left: -100%;
             top: 0;
             width: 100%;
             height: 100%;
             border-right: 5px solid $mainColor;
             transition: left .3s ease;
             background: rgba(200, 200, 200, .15);
         }
         &:hover,&.is-active{
             background-color: transparent !important;
             color: #fff;
             span,i{
                 color: #fff !important;
                  transition: all .25s ease-in-out;
             }
         }
          &:hover{
              background-color: rgba(200, 200, 200, .15) !important;
          }
         &.is-active{
             &:before {
                 left: 0;
             }
         }
         .icon{
             width: 50px;
             min-width: 50px;
             display: inline-block;
             text-align: center;
         }

     }
     .menu--dropdown{
         @include prefixer(transition, all .25s ease-in-out, webkit moz o);

         .item--has--submenu{
             display: flex;
             @include prefixer(transition, all .25s ease-in-out, webkit moz o);
             .arrow--right{
                 margin-left: auto;
                 @include prefixer(transition, all .2s ease-in-out, webkit moz o);
             }
         }
         .menuItemOpen {
             transform: rotate(90deg);
         }
         ul{
             border: 0;
             padding: 5px  0 15px 0;
             @include prefixer(transition, all .25s ease-in-out, webkit moz o);
             margin: 0;
             li{
                 overflow: hidden;
                 margin: 2px 0;
                 a{
                     font-size: 14px;
                     padding: 6px 15px;
                     margin: 0;
                     background-color: transparent;
                     @include prefixer(transition, all .25s ease-in-out, webkit moz o);
                     padding-left: 65px;
                     &:hover{
                         opacity: .8;
                     }

                 }
             }
         }
     }
 }

 .toggleNavSlide{
     width: 70px;
     overflow: visible;
     min-height: 100vh;
     .text-aside,
     .icon--dropdown--item{
         display: none;
     }
    //  .navbar-item .icon{
    //      width: 100%;
    //  }
    .wrap--upper--nav{
        width: 100%;
        // padding: 10px;
        // .icon{
        //     width: 100%;
        //     text-align: center;
        // }
        .head-logo{
            display: none;
        }
    }
    .menu--dropdown {
        position: relative;
        &:hover{
            &>ul{
                display: block;
            }
        }
        ul{
            display: none;
            position: absolute;
            left: 70px;
            z-index: 15;
            top: 0;
            width: 180px;
            background-color: $DarkColor;
            box-shadow: 0 0 3px rgba(255,255,255, .1);
            padding-top: 10px;
            padding-bottom: 10px;
            .text-aside{
                display: inline-block;
            }
            li{
                a{
                    padding-left: 25px;
                    padding-right: 25px;
                }
            }
        }
    }
 }

 .overlay--sidebar{
     position: fixed;
     top: 0;
     left: 0;
     z-index: 80;
     width: 100%;
     height: 100%;
     display: none;
     background-color: rgba(0, 0, 0, .7);
     @include prefixer(transition, all .25s ease-in-out, webkit moz o);
 }

 .btn-open--sidebar,
 .btn-close--sidebar {
     font-size: 28px;
     color: $textColor;
     padding: 5px;
     display: inline-block;
     width: 50px;
     text-align: center;
 }
 .btn-open--sidebar,
 .btn-close--sidebar {
     display: none;
 }

 body.sidebarOpen{
     height: 100vh;
     overflow: hidden;
 }
 .overlay--mainSidebar{
     position: fixed;
     top: 0;
     left: 0;
     z-index: 89;
     width: 100%;
     height: 100%;
     background-color: rgba(0, 0, 0, .8);
     display: none;
     @include prefixer(transition, all .25s ease-in-out, webkit moz o);
 }


 // Responsive
 @media (max-width: 1199.98px) {
     .main--sidebar {
         left: -100%;
     }
     .btn-open--sidebar{
         display: inline-block;
     }
    .is--mainSidebar--open{
        box-shadow: 1px 1px 5px rgba(255, 255, 255, .1) !important;

        .main--sidebar {
            left: 0;
        }
        .main--header{
            width: calc(100% - 250px);
            left: 250px;
        }
        .overlay--sidebar{
            display: block;
        }
        .btn-open--sidebar{
            display: none;
        }
        .btn-close--sidebar{
            display: inline-block;
        }
    }


 }
