.main--header {
    position: fixed;
    top: 0;
    z-index: 98;
    background-color: #fff;
    @include prefixer (transition, all .25s ease-in-out, webkit moz o);
    border-bottom: 1px solid $borderColor;

    .upper--header{
        height: 70px;
        padding: 0 30px;
        @include prefixer (transition, all .25s ease-in-out, webkit moz o);
        .wrap--content{
            min-height: 60px;
        }
    }

    @media #{$mwlg} {
        width: 100% !important;
        left: 0 !important;
        // padding: 0 25px 0 15px;
    }

    .dropdown-trigger {
        height: 40px;
    }

    .nav-item {
        a {
            color: $textColor;
        }
    }

    .logo--name {
        font-weight: 500;
        letter-spacing: 2px;
        text-transform: uppercase;
    }

    .nav--links {
        li {
            margin-left: 24px;
        }
    }

    .nav--brand {
        font-size: 1.15rem;
        color: $textColorDarkTwo;
        font-weight: 500;
    }

    &.theme--header--dark{
        background-color: $DarkColor;
        color: $textColorDark;
        border-bottom: 0;
        .upper--header{
            background-color: #1c253a;
            min-height: 60px;
            height: auto;
        }
        .nav-item {
            .dropdown-menu{
                a{
                    color: $textColor;
                    outline: 0;
                    &:hover{
                        color: $textColor;
                    }
                }

                @media #{$miwlg}{
                    padding-top: 0;
                    top: 130%;
                    &:after, &:before {
                        bottom: 100%;
                        right: 10px;
                        border: solid transparent;
                        content: " ";
                        height: 0;
                        width: 0;
                        position: absolute;
                        pointer-events: none;
                    }
                    &:before {
                        border-color: rgba(194, 225, 245, 0);
                        border-bottom-color: #fff;
                        border-width: 10px;
                        margin-left: -10px;
                    }
                    .dropdown-content{
                        border-top-left-radius: 0;
                        border-top-right-radius: 0;
                    }
                }
        }
            a {
                color: $textColorDark;
                &:hover{
                    color: $textColorDarkTwo
                }
            }
        }
    }
}

// Menu Horizontal
.main--menu--horizontal{
    width: 100%;
    // .wrap--content{
    //     @media #{$xs} {
    //         padding-left: 0;
    //         padding-right: 0;
    //     }
    // }
    margin-left: 30px;

    @media #{$mwmd} {
        width: 100% !important;
        position: fixed;
        top: 60px;
        left: 0;
        z-index: 9;
        margin-left: 0;
        background-color: #0d121d;
        padding-left: 20px;
        padding-right: 20px;
        .nav{
            justify-content: center !important;
        }

        .nav--links{
            min-height: 60px;
        }
    }

    .nav{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        @media #{$mwsm} {
            justify-content: space-between !important;
        }
        li{
            a{
                color: $textColor;
                background-color: transparent;
                padding: 20px 20px;
                @include prefixer(transition, all .25s ease-in-out, webkit moz o);
                border-radius: 0;
                &:hover{
                    background-color: rgba(200, 200, 200, 0.15) !important;
                    color: $textColorDarkTwo;
                }
                &.is-active{
                    background-color: rgba(200, 200, 200, 0.15) !important;
                    color: $textColorDarkTwo;
                }

                .text-aside{
                    @media #{$mwsm} {
                        display: none;
                    }
                }
                @media #{$mwmd} {
                    padding: 12px 15px;
                }
            }
        }
        .dropdown-trigger{
            height: auto;
        }
        .sub--item{
            .navbar-item{
                padding: 12px 15px;
                &:hover{
                    color: $textColor;
                }
                &.is-active{
                    background-color: $mainColor !important;
                    color: $textColorDarkTwo;
                }
                .text-aside{
                    @media #{$mwsm} {
                        display: inline-block;
                    }
                }

            }
        }
    }
    .icon{
        margin-right: 5px;
    }
    .icon--right{
        margin-right: 0;
        margin-left: 5px;
    }
    .dropdown-menu {
        @media #{$miwlg}{
            padding-top: 0;
            top: 102%;
            &:after, &:before {
                bottom: 100%;
                left: 70px;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
            }
            &:before {
                border-color: rgba(194, 225, 245, 0);
                border-bottom-color: #fff;
                border-width: 10px;
                margin-left: -10px;
            }
            .dropdown-content{
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }
        }
    }
}


// Theme Settings
.theme--settings {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100vh;
    overflow-y: auto;
    padding: 30px;
    z-index: 91;
    background-color: #fff;
    border-left: 1px solid $borderColor;
    @include prefixer(transition, all .25s ease-in-out, webkit moz o);

    &.openTheme {
        right: 0;
    }

    .item--setting {
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;

        .label {
            margin-bottom: 15px !important;
            font-size: 1.1rem;
            font-weight: bold;
            display: block;
        }

        .is-rounded {
            .button {
                border-radius: 20px;
                font-weight: 400;
            }
        }
    }

}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .85);
    z-index: 90;
    @include prefixer(transition, all .25s ease-in-out, webkit moz o);
}
