// Forms Style

.label {
    font-weight: 500;
    margin-bottom: 5px !important;
}

.input,
.taginput .taginput-container.is-focusable,
.textarea,
.select select,
.multiselect .multiselect__tags,
.v-select .dropdown-toggle,
.v-select .vs__dropdown-toggle {
    border-color: $borderColorForm !important;
    outline: 0;
    box-shadow: none !important;
    border-radius: 5px;

}

.autocomplete .input{
    height: 48px !important;
}


.control.has-icons-left .input,
.control.has-icons-left .taginput .taginput-container.is-focusable,
.taginput .control.has-icons-left .taginput-container.is-focusable,
.control.has-icons-left .select select {
    padding-left: 2.8em;
}

.control.has-icons-left .icon,
.control.has-icons-right .icon {
    width: 2.8em;
}

.has-icons-left .textarea {
    padding: 0.3rem 2.3rem
}

label.label {
    color: #75787d !important;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 500;
}

.new-tag-input {
    min-height: 30px;
}

.vue-tags-input .input {
    padding: 0;
}

.tag:not(body).is-medium {
    font-size: .88rem;
}

.input,
.taginput .taginput-container.is-focusable {
    min-height: 44px;
}

.control.has-icons-left .icon,
.control.has-icons-right .icon {
    height: 100%;
}

.vs__selected {
    background-color: #f0f0f0;
    border: 1px solid rgba(60, 60, 60, .26);
    color: #333;
    line-height: 1;
    margin: 5px 2px 5px;
    padding: 0 10px;
    font-size: 14px;
    height: 26px;
    border-radius: 15px;
}


.input--fuild {
    margin-top: 5px;
    margin-bottom: 5px;

    .button {
        margin-bottom: 5px;
    }
}

.croppie-container {
    width: 100%;
    height: 320px !important;
}



.v-select.select--with--icon {
    width: auto;
    min-width: 205px;
    display: inline-block;

    .dropdown-toggle,
    .vs__dropdown-toggle {
        width: 100%;
        min-height: 44px;
        height: auto;
        border-radius: 5px;
        padding: 0;
        background-color: #fff !important;
    }

    .vs__selected-options{
        padding-right: 0 !important;
    }

    &.vs--open {
        .vs__dropdown-toggle {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }

        .vs__selected {
            position: relative;
        }

    }

    .vs__actions {
        padding: 0 15px 0 10px;
    }

    .vs__selected-options {
        min-height: 44px;
        padding: 5px 7px;
    }

    &.vs--single .selected-tag {
        position: relative !important;
        font-weight: 600;
        color: $textColor;
    }

    .dropdown-menu,
    .vs__dropdown-menu {
        background-color: #fff !important;
        box-shadow: none;
        border-color: $borderColorForm;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        padding: 0 !important;
    }

    .dropdown-menu li,
    .vs__dropdown-menu li {
        border-bottom: 1px solid $borderColorForm;
        padding: 8px 20px !important;
    }

    .dropdown-menu li:last-child,
    .vs__dropdown-menu li:last-child {
        border-bottom: none;
    }

    .dropdown-menu li a,
    .vs__dropdown-menu li a {
        padding: 10px 20px !important;
        display: flex;
        width: 100%;
        align-items: center;
        font-size: .95rem;
        vertical-align: middle;
        color: $textColor;
        font-weight: 500;
        background-color: #F8F9FC;

        &:hover {
            background-color: $mainColor;
            color: #fff;
        }

        span {
            margin-right: 10px;
        }
    }

}


.v--select--scroll {

    .dropdown-menu,
    .vs__dropdown-menu {
        overflow: hidden !important;
    }
}


::-webkit-input-placeholder {
    /* Edge */
    color: #888 !important;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #888 !important;
}

::placeholder {
    color: #888 !important;
}

.field-group {
    margin-bottom: 15px;
}

.file--upload {
    border: 1px dashed $borderColorForm;
    padding: 15px;
    text-align: center;
    cursor: pointer;
    margin-top: 15px;
    text-transform: capitalize;
    @include prefixer(transition, all .25s ease-in-out, webkit moz o);

    &:hover {
        border-color: $textColor;
    }
}

.filter--items--left {
    display: flex;

    .input--fuild:not(:first-child) {
        margin-left: 20px;
    }

    @media #{$mwmd} {
        display: block;

        .input--fuild:not(:first-child) {
            margin-left: 0;
        }
    }
}

.filter--items--right {
    .vs__selected{
        padding-left: 5px;
        padding-right: 5px;
    }
    display: flex;
    justify-content: flex-end;

    .input--fuild:not(:first-child) {
        margin-left: 12px;
    }

    @media #{$mwmd} {
        display: block;

        .input--fuild:not(:first-child) {
            margin-left: 0;
        }
    }
}

.switch .control-label {
    min-width: 90px;
    text-align: left;
}

.vs__search,
.vs__search:focus {
    margin: 0 !important;
}

.change--password {
    cursor: pointer;
    color: $textColor;
    opacity: .84;
    font-size: .85rem;
    margin-left: 10px;
    margin-right: 10px;
    @include prefixer(transition, all .25s ease-in-out, webkit moz o);

    &:hover {
        opacity: 1;
    }
}

.checkbox--switch {
    .button {
        padding: 0 !important;
        font-weight: 400;
        border: 0;
        box-shadow: none !important;
        width: 100%;
        text-align: left;
        justify-content: space-between;

        &.is-light {
            background-color: transparent;

            .check {
                background: rgba(95, 22, 248, 0.9);

                &:before {
                    -webkit-transform: translate3d(100%, 0, 0);
                    transform: translate3d(100%, 0, 0);
                }
            }
        }
    }

    .switch--item {
        cursor: pointer;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        margin-left: 10px;

        .check {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -ms-flex-negative: 0;
            flex-shrink: 0;
            width: 2.75em;
            height: 1.575em;
            padding: 0.2em;
            background: #b5b5b5;
            border-radius: 1em;
            -webkit-transition: background 150ms ease-out;
            transition: background 150ms ease-out;
            background: rgba(181, 181, 181, 0.9);

            &:before {
                content: "";
                display: block;
                border-radius: 1em;
                width: 1.175em;
                height: 1.175em;
                background: whitesmoke;
                -webkit-box-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.05), 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 3px 3px 0 rgba(0, 0, 0, 0.05);
                box-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.05), 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 3px 3px 0 rgba(0, 0, 0, 0.05);
                -webkit-transition: width 150ms ease-out, -webkit-transform 150ms ease-out;
                transition: width 150ms ease-out, -webkit-transform 150ms ease-out;
                transition: transform 150ms ease-out, width 150ms ease-out;
                transition: transform 150ms ease-out, width 150ms ease-out, -webkit-transform 150ms ease-out;
                will-change: transform;
            }
        }
    }
}

// Date And Time
.custom--datetime {
    input {
        @extend .input;
        border-radius: 5px;
        padding-left: 18px;
        font-size: 14px;
    }
}
.theme-primary .vdatetime-popup__header,
.theme-primary .vdatetime-calendar__month__day--selected > span > span,
.theme-primary .vdatetime-calendar__month__day--selected:hover > span > span {
    background: $mainColor;
}

.theme-primary .vdatetime-year-picker__item--selected,
.theme-primary .vdatetime-time-picker__item--selected,
.theme-primary .vdatetime-popup__actions__button {
    color: $mainColor;
}

.custom--treeSelect {
    .vue-treeselect__control {
        @extend .input;
        border-radius: 5px;
        padding-left: 18px;
        min-height: 44px;
        height: auto;
    }

    .vue-treeselect__placeholder,
    .vue-treeselect__single-value {
        line-height: 24px;
    }

    .vue-treeselect__multi-value-item {
        font-size: 14px;
    }

    .vue-treeselect__limit-tip-text {
        font-size: 14px;
    }

    .vue-treeselect--multi .vue-treeselect__input-container {
        font-size: 14px;
    }
}

//  Autocomplete
.taginput .taginput-container.is-focusable{
    height: auto;
    border-radius: 5px;
}
.taginput-container{
    max-height: none;
    height: auto;
}
.autocomplete{
 .input{
     min-height: auto;
     height: auto;
     max-height: auto
 }
}
