// Posts And Editor Style
.posts{
    .file--upload{
        margin-left: auto;
        margin-right: auto;
        max-width: 400px;
    }
    .img--preview{
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 400px;
        text-align: center;
        position: relative;
        background-color: $borderColor;
        border-radius: 10px;
        overflow: hidden;
        .btn--delete{
            position: absolute;
            top: 5px;
            right: 5px;
            z-index: 4;
        }
        img{
            width: 100%;
            object-fit: cover;
            max-height: 350px;
        }
        &.img--preview--mainimg{
            width: 100%;
            max-width: 100%;
            img{
                width: 100%;
                object-fit: cover;
                max-height: 450px;
            }
        }
    }
    .preview--iframe iframe{
        min-height: 350px;
    }
    .gallery--editor{
        text-align: center;
        .gallery--img--editor{
            display: inline-block;
            background-color: $borderColor;
            margin: 15px;
            border-radius: 10px;
            overflow: hidden;
            .img--preview{
                max-width: 250px;
                width: 180px;
                height: 180px;
                text-align: center;
                position: relative;
                margin: 0;
                .btn--delete{
                    position: absolute;
                    top: 5px;
                    right: 5px;
                    z-index: 4;
                }
                img{
                    width: 100%;
                    object-fit: cover;
                    height: 100%;
                }
            }
        }

    }
    .post--info--item{
        padding-bottom: 25px;
        .field-group{
            margin-bottom: 0;
        }
        &+.post--info--item{
            border-top: 1px solid $borderColor;
            padding-top: 25px;
        }
        &:last-child{
            padding-bottom: 0;
        }
    }
}


.content--editor{
    .menu--editor{
        position: fixed;
        overflow: hidden;
        bottom: 0;
        // left: 320px;
        z-index: 99;
        height: auto;
        width: 600px;
        background-color: #282a2d;
        color: $textColor;
        display: flex;
        align-items: center;
        justify-content: center;
        @include prefixer(transition, all .25s ease-in-out, webkit moz o);
        .nav{
            display: flex;
        }
        .menu--item{
            padding: 15px 0;
            text-align: center;
            text-transform: capitalize;
            font-size: 12px;
            .icon{
                width: 100%;
                margin-bottom: 5px;
                font-size: 18px;
            }
            &:hover{
                cursor: pointer;
                background-color: rgba(200, 200, 200, 0.15);
                color: #fff;
                @include prefixer(transition, all .25s ease-in-out, webkit moz o);
            }
        }
    }

}
