// Posts And Editor Style
.posts{
    .file--upload{
        margin-left: auto;
        margin-right: auto;
        max-width: 400px;
    }
    .img--preview{
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 400px;
        text-align: center;
        position: relative;
        background-color: $borderColor;
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        .btn--delete{
            position: absolute;
            top: 5px;
            right: 5px;
            z-index: 4;
        }
        img{
            width: 100%;
            object-fit: cover;
            max-height: 350px;
        }
        &.img--preview--mainimg{
            width: 100%;
            max-width: 100%;
            img{
                width: 100%;
                object-fit: cover;
                max-height: 450px;
            }
        }
        .wrap--replace--media{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 4;
            background-color: rgba(0,0,0,.8);
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            letter-spacing: 2px;
            opacity: 0;
            @include prefixer(transition, all .25s ease-in-out, webkit moz o);
            .btn--replace--media{
                background-color: transparent;
                color: $borderColor;
                border: 1px dashed $borderColor;
                padding: 10px 30px;
                font-size: 18px;
            }
        }
        .btn--delete--media{
            position: absolute;
            top: 10px;
            right: 10px;
            z-index: 5;
            background-color: #95969c;
            opacity: 0;
            @include prefixer(transition, all .25s ease-in-out, webkit moz o);
        }
        &:hover{
            .wrap--replace--media,
            .btn--delete--media{
                opacity: 1;
            }
        }

    }
    .preview--iframe iframe{
        min-height: 350px;
    }
    .gallery--editor{
        text-align: center;
        .gallery--img--editor{
            display: inline-block;
            background-color: $borderColor;
            margin: 15px;
            border-radius: 10px;
            overflow: hidden;
            .img--preview{
                max-width: 250px;
                width: 180px;
                height: 180px;
                text-align: center;
                position: relative;
                margin: 0;
                .btn--delete{
                    position: absolute;
                    top: 5px;
                    right: 5px;
                    z-index: 4;
                }
                img{
                    width: 100%;
                    object-fit: cover;
                    height: 100%;
                }
            }
        }

    }
    .post--info--item{
        padding-bottom: 25px;
        .field-group{
            margin-bottom: 0;
        }
        &+.post--info--item{
            border-top: 1px solid $borderColor;
            padding-top: 25px;
        }
        &:last-child{
            padding-bottom: 0;
        }
    }
    .post--content{
        @media #{$mwmd}{
            position: relative;
            padding-bottom: 80px;
        }
    }
}

.content--editor{
    .menu--editor{
        position: fixed;
        overflow: hidden;
        bottom: 10px;
        z-index: 70;
        height: auto;
        width: 540px;
        background-color: #282a2d;
        color: $textColor;
        display: flex;
        align-items: center;
        justify-content: center;
        @include prefixer(transition, all .25s ease-in-out, webkit moz o);
        margin-left: - 270px;
        border-radius: 40px;
        @media #{$mwlg}{
            left: calc((100% - 40px) / 3 + 20px) !important;
        }
        @media #{$mwmd}{
            position: absolute;
            bottom: 0;
            width: calc(100% - 40px);
            left: 0 !important;
            margin-left: 20px;
        }
        .nav{
            display: flex;
            width: 100%;
            justify-content: space-between;
        }
        .menu--item{
            padding: 10px 10px;
            text-align: center;
            text-transform: capitalize;
            font-size: 13px;
            .icon{
                width: 100%;
                margin-bottom: 0;
                font-size: 18px;
            }
            &:hover{
                cursor: pointer;
                background-color: rgba(200, 200, 200, 0.15);
                color: #fff;
                @include prefixer(transition, all .25s ease-in-out, webkit moz o);
            }
        }
    }

}


.table--feed{
    tr{
        padding: 10px 0;
    }
    .thumbnail--post--content{
        max-width: 120px;
        @media #{$mwsm}{
            max-width: 200px;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .thumbnail--post{
        width: 100%;
        height: 60px;
        background-color: #f7f7f7;
        @media #{$mwsm}{
            height: 120px;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .post--date{
        color: #666;
        margin-top: 5px;
        font-size: 14px;
    }
    .post--title{
        font-size: 14px;
        font-weight: 500;
        color: $textColor;
        a{
            display: block;
        }
    }
    a{
        color: $textColor;
        &:hover{
            color: $mainColor;
        }

    }

    .table td, .table th {
        padding: .9em 0.75em;
        vertical-align: middle;
    }
    .text--title{
        font-size: 14px;
    }
    .created--by{
        color: #666;
        min-width: 120px;
        justify-content: center;
    }
}

.no--header{
    .table{
        thead{
            display: none !important;
        }
    }
}

.card--feed{
    .card-header{
        background-color: #203054;
        color: #fff;
        border-radius: 5px 6px 0 0;
        .card-header-title{
            color: #fff;
            padding: 15px 15px;
            .icon{
                font-size: 18px;
                width: 40px;
            }
        }
    }
    .loading--data,
    .card--nodata{
        border: 0 !important;
    }
}
