.lang--ar {
    direction: rtl;
    text-align: right;

    // Header Style
    .main--header {
        .nav--links {
            margin-right: auto;
            margin-left: 0 !important;

            li {
                margin-left: 0;
                margin-right: 24px;
            }
        }

        .dropdown.is-bottom-left .dropdown-menu {
            right: auto;
            left: 0;
        }

        .main--menu--horizontal {
            margin-left: 0;
            margin-right: 30px;

            .icon {
                margin-left: 5px;
                margin-right: 0;
            }
        }

        .nav--brand {
            font-weight: bold;
            min-width: 100px;
        }

    }

    .main--sidebar .wrap--upper--nav .head-logo {
        margin-right: 20px;
        font-weight: bold;
        margin-left: 0;
        min-width: 110px;
    }

    .main--menu--horizontal .nav li a {
        font-weight: 500
    }

    .main--header.theme--header--dark .nav-item .dropdown-menu:after,
    .main--header.theme--header--dark .nav-item .dropdown-menu:before {
        right: auto;
        left: 20px;
    }

    .dropdown .dropdown-menu .has-link a {
        text-align: right;
    }

    a.dropdown-item,
    .dropdown .dropdown-menu .has-link a,
    button.dropdown-item {
        padding-right: 1rem;
        padding-left: 3rem;
        text-align: right;
    }

    // Page Heading
    .page--title {
        .page--title--action {
            margin-left: 0 !important;
            margin-right: auto;
        }
    }

    .breadcrumb a {
        padding: 0 0.75em;
    }

    .breadcrumb li:first-child a {
        padding-left: 0.75em;
        padding-right: 0;
    }

    .breadcrumb.has-arrow-separator li+li::before {
        content: "\2190";
    }

    .list--statistics {
        .statistics--icon {
            margin-right: 0;
            margin-left: 5px;
        }

        .list-statistics-item {
            margin-left: 0;
            margin-right: 30px;
        }
    }

    // Table
    table td,
    table th {
        text-align: right
    }

    // Form
    .filter--items--left .input--fuild:not(:first-child) {
        margin-left: 0;
        margin-right: 20px;
    }

    // Block Item
    .block--item {
        padding: 20px 60px 15px 15px;

        .block--item--title .item--avatar--img {
            margin-right: 0;
            margin-left: 5px;
        }

        .item--checkbox {
            right: 20px;
            left: auto;
        }

        .icon {
            margin-left: 5px;
            margin-right: 0;
        }
    }

    .permissions--items {
        @media (min-width: 576px) {
            .text-sm-right {
                text-align: left !important;
            }
        }

        .checkbox--switch .switch--item {
            direction: ltr;
        }

        .mr-2 {
            margin-left: 0.5rem !important;
            margin-right: 0 !important;
        }
    }

    .switch {
        direction: ltr;
        // .control-label {
        //     padding-right: 0.5em;
        //     padding-left: 0;
        //     text-align: right;
        // }
    }

    // Filter
    .filter--media {
        text-align: right;

        @media (min-width: 768px) {

            .ml-md-4,
            .mx-md-4 {
                margin-right: 1.5rem !important;
                margin-left: 0 !important;
            }
        }

        .search {
            margin-right: auto;
            margin-left: 0;
        }
    }

    .filter--items--right .input--fuild:not(:first-child) {
        margin-right: 12px;
        margin-left: 0;

        @media #{$mwsm} {
            margin-left: 0;
            margin-right: 0;
        }
    }

    .upper--media {
        .ml-auto {
            margin-left: 0 !important;
            margin-right: auto !important;
        }
    }

    // Button
    .button {
        .ml-2 {
            margin-right: 0.5rem !important;
            margin-left: 0 !important;
        }
    }

    .modal--preview--media {
        direction: ltr;
        text-align: left;
    }

    .dialog {
        .media {
            align-items: center;

            .media-left {
                margin-left: 1rem;
                margin-right: 0;
            }

            .media-content {
                text-align: right;
            }
        }
    }

    .notices .snackbar .action {
        margin-right: auto;
        margin-left: 8px;
        ;
    }



    .theme--settings {
        right: auto;
        left: -300px;
        border-left: 0;
        border-right: 1px solid #E3E3E3;

        &.openTheme {
            right: auto;
            left: 0;
        }

        .item--setting {
            .field {
                direction: ltr;
            }
        }
    }

    // Layout
    &.menuIsVertical {
        .main--content {
            padding: 80px 280px 100px 30px;
        }

        .main--header {
            left: auto;
            right: 250px;
        }
    }

    .main--sidebar {
        left: auto;
        right: 0;

        .navbar-item i {
            margin-right: 0;
            margin-left: 10px;
        }
    }

    // Responsive
    @media (max-width: 1199.98px) {
        .main--header {
            right: 0 !important;
            left: auto !important;

            .nav--links li {
                margin-left: 24px;
                margin-right: 0;
            }
        }

        .main--sidebar {
            left: auto !important;
            right: -100% !important;
        }

        &.is--mainSidebar--open {
            .main--sidebar {
                left: auto !important;
                right: 0 !important;
            }

            .main--header {
                right: 250px !important;
                left: auto !important;
            }
        }


    }

    .all--actions {
        left: auto;
        right: 250px;

        @media #{$mwlg} {
            width: 100%;
            right: 0;
        }
    }

    &.menuIsHorizontal .all--actions {
        left: 0;
        right: 0;
    }

    &.menuIsVertical.sidebar--mini .main--header {
        right: 70px;
        left: auto;
    }

    &.menuIsVertical.sidebar--mini .main--content {
        padding: 80px 100px 100px 30px;
    }

    .modal-card-foot .button:not(:last-child) {
        margin-right: 0;
        margin-left: 10px;
    }

    .media--preview--right {
        direction: rtl;
        text-align: right;

        .text-left {
            text-align: right !important;
        }

        .ml-auto {
            margin-left: 0 !important;
            margin-right: auto !important;
        }

        .mr-2 {
            margin-right: 0 !important;
            margin-left: 0.5rem;
        }
    }

    .modal--custom {
        .text-left {
            text-align: right !important;
        }

        .button.mr-2 {
            margin-right: 0 !important;
            margin-left: 0.5rem;
        }
    }

    .tag:not(body) .delete {
        margin-right: 0.25rem;
        margin-left: -0.375rem;
    }

    .main--sidebar {
        .menu-list {
            direction: rtl;
        }
    }

    &.menuIsHorizontal .content--editor .menu--editor {
        right: calc((100% - 0px) / 3 + 30px);
        left: auto !important;
    }

    .content--editor .menu--editor {
        margin-left: 0;
        margin-right: -270px;
        right: calc((100% - 310px) / 3 + 280px);
        left: auto !important;

        @media #{$mwlg} {
            right: calc((100% - 40px) / 3 + 20px) !important;
            left: auto !important;
        }

        @media #{$mwmd} {
            width: calc(100% - 40px);
            right: 0 !important;
            left: auto !important;
            margin-left: 0;
            margin-right: 20px;
        }
    }

}


.lang--ar {

    .field.has-addons .control:first-child:not(:only-child) .button,
    .field.has-addons .control:first-child:not(:only-child) .input,
    .field.has-addons .control:first-child:not(:only-child) .custom--treeSelect .vue-treeselect__control,
    .custom--treeSelect .field.has-addons .control:first-child:not(:only-child) .vue-treeselect__control,
    .field.has-addons .control:first-child:not(:only-child) .custom--datetime input,
    .custom--datetime .field.has-addons .control:first-child:not(:only-child) input,
    .field.has-addons .control:first-child:not(:only-child) .taginput .taginput-container.is-focusable,
    .taginput .field.has-addons .control:first-child:not(:only-child) .taginput-container.is-focusable,
    .field.has-addons .control:first-child:not(:only-child) .select select {
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
    }

    .field.has-addons .control:last-child:not(:only-child) .button,
    .field.has-addons .control:last-child:not(:only-child) .input,
    .field.has-addons .control:last-child:not(:only-child) .custom--treeSelect .vue-treeselect__control,
    .custom--treeSelect .field.has-addons .control:last-child:not(:only-child) .vue-treeselect__control,
    .field.has-addons .control:last-child:not(:only-child) .custom--datetime input,
    .custom--datetime .field.has-addons .control:last-child:not(:only-child) input,
    .field.has-addons .control:last-child:not(:only-child) .taginput .taginput-container.is-focusable,
    .taginput .field.has-addons .control:last-child:not(:only-child) .taginput-container.is-focusable,
    .field.has-addons .control:last-child:not(:only-child) .select select {
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }
}
