// Colors
$mainColor: #5F16F8;
$textColor: #596376;
$borderColor: #E3E3E3;

// Fonts
// $mainFont: 'Montserrat', 'Cairo', sans-serif;
$mainFont: 'Rubik', sans-serif;

// font-family: 'Rubik', sans-serif;


// EE4540   C72C41   801336   510A32   2D142C 


// Media Query
$xs: "(max-width: 575.98px)";
$sm: "(min-width: 576px) and (max-width: 767.98px)";
$md: "(min-width: 768px) and (max-width: 991.98px)";
$lg: "(min-width: 992px) and (max-width: 1199.98px)";
$xl: "(min-width: 1200px)";

$mwsm: "(max-width: 767.98px)";
$mwmd: "(max-width: 991.98px)";
$mwlg: "(max-width: 1199.98px)";
