<div><%= req.lang("auth.hi") %> <%= user.first_name %></div>
<p>

    <%= req.lang("auth.email_verified_success_message") %>

    <br/><br/>

    <%= req.lang("auth.login_now") %>
</p>


<style>

    * {
        direction: ltr;
    }

</style>
