<div> مرحباً <%= user.first_name %></div>
<br />
<p>
    تم التسجيل في
    <%= event.title %>

    <br/>
    <br/>

    يرجي العلم أنه سيتم بدء هذه الفعالية في
    <%= event.scheduled_at.toString().replace("(", "").replace(")", "") %>

    <br/><br/>

    شكرا لك

    <br/><br/>
</p>


<style>

    * {
        direction: rtl;
    }

</style>
